*{
    margin: 0;
    padding: 0;
  background: #000;
    
}
#home{
    width: 100%;
    height: 100vh;
  background: #000;  
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #000;  
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  background: #000;
  border-bottom: 1px solid rgba(255, 215, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 22px;
  font-weight: 602;
}

.logo img {
  height: 80px;
  width: 80px;
  margin-right: 10px;
}

.logo b {
  color: #FFD700; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
margin: 0 auto;
}

.nav-links li {
  position: relative;

}

.nav-links li a {
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}


.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #FFD700;
  transition: all 0.3s ease;
}


.nav-links li a:hover {
  color: #FFD700;
  transform: translateY(3px);
}

.nav-links li a:hover::after {
  width: 100%;
}



.nav-links li a.active::after {
  width: 100%;
}

.hero {
  width: 100%;
  height: 70vh;
  padding-top: 140px;
  padding-left: 100px;
  display: flex;
  position: relative;
}

.t1 {

  font-size: 1000;
  font-weight: bold;
    color: #ff0000;
  text-shadow: 0 0 10px #ff0000;
}

.t1 b {
  color: #FFD700;
}

.t1 i {
  color: #ff0000;
}

.cntant {
  position: absolute;
}

.t2 {
  position: absolute;
  font-size: 90px;
  font-weight: 850;
  letter-spacing: 2px;
      margin-left: -55px;
    top: 40px;
}

.t2:nth-child(3) {
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
}

.t2:nth-child(4) {
  color: #FFD700;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%, 100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.t5{
  font-size: 90px;
  font-weight: 900;
  color:transparent;
  -webkit-text-stroke: 2px #c7c7c7;        
        margin-left: -65px;
    margin-top: 75px;
    text-align: center;
}


.t6 {
  letter-spacing: 1px;
     color: #ff0000;
  text-shadow: 0 0 10px #ff0000;
  font-size: 1000;
  font-weight: bold;
}
.t6 b {
  color: #c7c3c3; 
}

.cntant img{
  position: absolute;
  margin-top: -400px;
  margin-left: 650px;
  width: 500px;
  height: 500px;
}
.image-box {
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 25px;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.abt{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
  flex-direction: row;
}
.abt-img{
  width: 55%;
  height: 95vh;
border: none;
padding-top: 40px ;

}
.abt-img img {
  width: 480px;
  margin-left: 2vh;
border-radius: 10%;

}
.txt{
  position: relative;
  width: 50%;
  height: 100vh;
  padding: 2px 2px 2px 2px ;
}
.txt p {
  color: #FFD700;
  font-size: 30px;
  margin-top: 80px;
  margin-left: -45px;
}
.txt .abt-2 {
  margin-top: -30px;
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  margin-left: -45px;
}
.txt .abt-2 i{
  position: relative;
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  color: #ffd700;
}

.wave-svg {
  width: 200px;
  height: 20px;
  display: block;
  margin: 10px auto;
}

.wave-svg path {
  animation: draw 2.8s ease-in-out infinite;
}

@keyframes draw {
  40% {
    opacity: 1;
  }
  60% {
    stroke-dashoffset: 0.5;
  }
  }
.abt-3{
  color: #fff;
}
.stats {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 60px 0;
  background: #000;
  color: #fff;
  font-family: Poppins, sans-serif;
}
.box {
  text-align: center;
}
.box h2 {
  color: #ffd700;
  font-size: 55px;
  margin: 0;
}
.box p {
  color: #ddd;
  margin-top: 8px;
  font-size: 17px;
}
.src{
  width: 100%;
  height: 20vh;
}
.ttt{
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0 auto;
  width: 80%;
}
.hd{
  padding-left: 20px;
  width: 25%;
  background: #000;

}
.hd p{
  color: #FFD700;
    font-size: 20px;
       
}
.hd h2 {
  color: white;
      font-size: 30px;
       margin-top: -15px;
}
.serP{
  width: 75%;
  padding-top: -30px;
  padding-left: 22px;
}
.serP p{
  color: #fff;
      margin-top: -10px;
}



.fabric-sec {
  width: 100%;
  padding: 50px 0;
  background: #000;
  text-align: center;
}

.fabric-heading {
  color: #fff;
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 40px;
}

.fabric-heading span {
  color: #FFD700;
}

.fabric-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.fabric-card {
  background: #111;
  border: 1px solid rgba(255, 215, 0, 0.2);
  padding: 15px;
  border-radius: 15px;
  transition: 0.4s;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.15);
  cursor: pointer;

  opacity: 1;
  transform: translateY(0);

  height: auto; /* FIX */
}

.fabric-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 35px rgba(255, 215, 0, 0.55);
}

.fabric-card img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 12px;
  border: 1px solid rgba(255,255,255,0.1);
  display: block; /* FIX */
}

.fabric-card h3 {
  color: #FFD700;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 600;
}

.fabric-card p {
  color: #ccc;
  font-size: 14px;
  line-height: 20px;
}
.quality-info {
  width: 80%;
  margin: 60px auto 0 auto;
  background: #111;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  border: 1px solid rgba(255, 215, 0, 0.3);
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.15);
  transition: 0.4s;
}

.quality-info:hover {
  box-shadow: 0 0 35px rgba(255, 215, 0, 0, 0.45);
  transform: translateY(-5px);
}

.quality-info h2 {
  font-size: 32px;
  font-weight: 800;
  color: #FFD700;
  margin-bottom: 15px;
}

.quality-info p {
  color: #ddd;
  font-size: 16px;
  line-height: 25px;
  max-width: 800px;
  margin: auto;
}
.request-ad {
width: 100%;

/* margin: 60px auto; */
background: #000000;
padding: 35px;
/* border-radius: 15px; */
text-align: center;
border: none;
box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
color: #fff;
}


.request-ad h2 {
font-size: 35px;
color: #FFD700;
font-weight: 800;
margin-bottom: 10px;
}


.request-ad p {
font-size: 16px;
color: #ccc;
margin-bottom: 20px;
line-height: 24px;
}


.visit-btn {
background: #FFD700;
color: #000;
padding: 12px 25px;
border-radius: 10px;
font-size: 16px;
font-weight: 700;
border: none;
cursor: pointer;
transition: 0.3s;
}


.visit-btn:hover {
transform: scale(1.05);
box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
}


.shop-footer {
background: #000;
text-align: center;
padding: 25px 10px;
color: #ccc;
border: 1px solid rgba(255, 215, 0, 0.3);
  box-shadow: 0 0 25px rgba(255, 215, 0, 0.15);
}


.shop-footer h3 {
color: #FFD700;
font-size: 22px;
margin-bottom: 8px;
}


.shop-footer p {
font-size: 14px;
margin: 3px 0;
}
